/* body {
    margin: 0;
} */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

.font-inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #469165;
    border: none;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.logo {
    width: 110px;
    height: 45px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


/* banner section */

#banner {
    text-align: center;
    padding: 80px 50px;
}

.banner-content {
    padding-top: 130px;
}

.banner-content span {
    color: #30B868;
}

.banner-content h1 {
    color: #FFFFFF;
    font-size: 55px;
    margin: 3px;
}

#banner .banner-image {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.banner-content p {
    color: #FFFFFF;
    font-size: small;

}

.arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {
    border: 2px solid #FFFFFF;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    gap: 3px;
}

.early-btn {
    background-color: #FFFFFF;
    border: none;
    padding: 10px 13px;
    border-radius: 10px;
    font-size: 18px;
    color: #30B868;
}


.notes-section {
    text-align: center;
}

.notes-section h1 {
    font-size: 50px;
    margin: 3px;
}

.notes-section p {
    font-size: 16px;
    color: #627382;
}

/* card section */
.image {
    background-color: red;
    border-radius: 50%;
}

.image-border {
    width: 40px;
    height: 40px;
    padding-top: 40px;
    padding-left: 100px;
    justify-content: center;

}

#cards {
    display: flex;
    gap: 24px;
    margin: 60px auto;
    padding-left: 140px;
    padding-right: 30px;
}

#cards .card-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    padding: 20px 10px;
}

.card-container h2 {
    size: 24px;
    color: #001931;
    display: flex;
    justify-content: center;
}

.card-container p {
    font-size: 14px;
    color: #627382;
    margin: 2px;
    text-align: center;
}

/* brain-section */

#brain-section {
    display: flex;
    /* align-items: center; */
    padding-top: 30px;
}

#brain-section img {
    width: 500px;
    height: 500px;
    padding-left: 110px;
}

.brain {
    max-width: 550px;
    padding-left: 40px;
}

.para {
    font-size: 16px;
    color: #469165;
    margin: 3px;
    padding-top: 60px;
}

.brain h1 {
    font-size: 48px;
    margin: 3px;
}

.para-2 {
    font-size: 16px;
    color: #627382;
}

.feature-list li {
    /* display: flex; */
    align-items: center;
    list-style: none;
    font-size: 16px;
}


/* challenge section */

#ready-part-01 {
    padding-top: 120px;
    justify-items: center;
}

.ready-part-02 {
    text-align: center;
    background-color: #F7F6F2;
    border: 1px solid #F7F6F2;
    border-radius: 5px;
    height: 240px;
    width: 1100px;
    padding-top: 40px;
}

.ready-part-02 h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 2px;
}

.ready-part-02 p {
    font-size: 14px;
    color: #627382;
}


/* footer section */

footer {
    background-color: #001931;
    height: 300px;
    margin-top: 50px;
    width: 100%;
    padding: 0;

}

.footer-part {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 100px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.social-part {
    padding-right: 30px;
    padding-bottom: 10px;
}

.social-part p {
    color: #FFFFFF;
}

.social-part i {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 20px;
    align-content: center;
}

.footer-line {
    width: 1100px;
    color: 1px solid #627382;
    align-content: center;

}

.footer-last {
    color: #627382;
    font-size: 14px;
    text-align: center;
}