/* body {
    margin: 0;
} */


.font-inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #469165;
    border: none;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}

.logo {
    width: 110px;
    height: 45px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


/* banner section */

#banner {
    text-align: center;
    padding: 80px 50px;
}

.banner-content {
    padding-top: 130px;
}

.banner-content span {
    color: #30B868;
}

.banner-content h1 {
    color: #FFFFFF;
    font-size: 55px;
    margin: 3px;
}

#banner .banner-image {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.banner-content p {
    color: #FFFFFF;
    font-size: small;

}

.arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.banner-btn {
    border: 2px solid #FFFFFF;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
    gap: 3px;
}

.early-btn {
    background-color: #FFFFFF;
    border: none;
    padding: 10px 13px;
    border-radius: 10px;
    font-size: 18px;
    color: #30B868;
}


.notes-section {
    text-align: center;
}

.notes-section h1 {
    font-size: 50px;
    margin: 3px;
}

.notes-section p {
    font-size: 16px;
    color: #627382;
}

/* card section */
.vector {
    background-color: red;
    border-radius: 50%;

}

.vector-border {
    width: 20px;
    height: 20px;

}

#cards {
    display: flex;
    gap: 20px;
    margin: 60px auto;
    padding: 30px 80px;
}

#cards .card-container {
    border: 1px solid red;


}